---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
AccessModifierOffset: -8
ColumnLimit: 132
CompactNamespaces: false
NamespaceIndentation: All
BreakBeforeBraces: Allman
AlignAfterOpenBracket: DontAlign